extends layout

block content
    center
      #d1
        h2 ToDo App
        form
          table
            tr
              td User ID:
              td
                input(type='text')
            tr
              td Password
              td
                input(type='password')
            tr
              td
                input(type='button', value='Login')
              td
                input(type='button', value='Signup')
