extends layout

block content
        center
          h2 Welcome to ToDo app
          input#b4(type='button', value='Logout')
          #d2
            h4 Add your task to the list
            input(type='text')
            input(type='button', value='Add task')
          #d3
            h4 Task List