extends layout

block content
    center
      #d1
        h2 Register
        form
          table
            tr
              td First Name:
              td
                input(type='text')
            tr
              td Last Name:
              td
                input(type='text')
            tr
              td Email:
              td
                input(type='email')
            tr
              td User ID:
              td
                input(type='text')
            tr
              td Password
              td
                input(type='password')
            tr
              td Cofirm Password
              td
                input(type='password')
            tr
              td
              td
                input(type='button', value='Submit')
